body{
  background:   lightpink; 
  /* linear-gradient(red, orange); */
  
  
}
.container{
  margin: 100px;
  width: 80%;
  align-items: center;
}


.Note{
  /* width: 80%; */
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  padding: 20px;
}
.Notes-List{
  background-color: blue;
}
.input-box{
  border: lightgreen;
}

.deleteButton{
background-color: lightseagreen;
  margin: 10px;
  width: 100px;
  height: 30px;
}