body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #87CEEB; 
}

header{
    margin: 10px;
    text-align: center;
    padding: 5px 10px;
}

.title, nav, .author, .gitLink{
    display: inline;
    font-size: 24
}

.title{
    font-family: 'Caveat Brush', cursive;
    font-size: 90px;
    text-align: center;
    color: #fad744;
    text-shadow: 2px 5px #2b3252;
    margin: 0;
}

.container {
    margin: auto;
    margin-top: 36px;
    width: 60%;
    height: 100%;
    border-radius: 6px;
    padding: 16px;
    background-color: white;
    color: black;
}

nav{
    float: right;
}

nav a{
    color: black;
    margin: 0 10px;
}

footer{
    background-color: darkgray;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

aside{
    height: calc(100vh);
}

.card{
    border: 1px solid;
    margin: 21px;
    
}

.dish-desciption{
    font-size: 10;
}

.dish-card{
    width: 300px;
    height: 250px;
    margin: 10px;
    display: block;
    cursor: pointer;
    text-align: center;
    background-color: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.dish-card img{
    width: 300px;
    height: 200px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

label{
    font-weight: bold;
}